  li.pictures {
    border-style: none;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  li.pictures-inschrijvingen {
    border-style: none;
    background-color: white;
    justify-content: center;
  }

  .pizza-slice {
    background-image: url(pizza.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1300px;
    background-position: 1px;
    border-radius: 10px;
    opacity: 0.8;
  }
  .pizza-slice:hover {
    opacity: 1;
  }
  
  .jongeren {
    background-image: url(wecandoit.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1246px;
    background-position-y: -200px;
    background-position-x: 1px;
    border-radius: 10px;
    opacity: 0.8;
  }
  .jongeren:hover{
    opacity: 1;
  }
  
  .volwassen {
    background-image: url(Patsy.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position: 1px;
    border-radius: 10px;
    opacity: 0.8;
  }
  
  .volwassen:hover {
    opacity: 1;
  }
  
  .beeld {
    background-image: url(beeld.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -205px;
    border-radius: 10px;
    opacity: 0.8;
  }
  
  .beeld:hover {
    opacity: 1;
  }
  
  .kunst {
    background-image: url(lines.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -70px;
    border-radius: 10px;
    opacity: 0.8;
  }
  
  .kunst:hover {
    opacity: 1;
  }

  .tafel {
    background-image: url(tafel.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -185px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .tafel:hover {
    opacity: 1;
  }

  .artikels {
    background-image: url(artikels.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -185px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .artikels:hover {
    opacity: 1;
  }

  .window {
    background-image: url(window.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -185px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .window:hover {
    opacity: 1;
  }

  .tag {
    background-image: url(blacktag.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -380px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .tag:hover {
    opacity: 1;
  }

  .drawing {
    background-image: url(drawing.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -197px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .drawing:hover {
    opacity: 1;
  }

  .flower {
    background-image: url(flower.jpg);width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -345px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .flower:hover {
    opacity: 1;
  }

  .LR {
    background-image: url(LR.jpg);
    height: 190px;
    width: 1250px;
    background-size: 1330px;
    background-position-y: -345px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .LR:hover {
    opacity: 1;
  }

  .collage {
    background-image: url(collage.jpg);
    width: 1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -153px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .collage:hover {
   opacity: 1;
  }

  .PI {
    width:1250px;
    background-image: url(ugly.jpeg);
    height: 190px;
    background-size: 1250px;
    background-position-y: -454px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .PI:hover {
   opacity: 1;
  }

  a>div>h2 {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    display:flex;
    justify-content: center;
    padding: 80px;
    text-shadow: 2px 2px 5px darkslategray;
  }

  .wth {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vakantie {
    background-image: url(school.jpg);
    width:1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -415px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .vakantie:hover {
    opacity: 1;
  }

  .rules {
    background-image: url(paper.jpg);
    width:1250px;
    height: 190px;
    background-size: 1250px;
    background-position-y: -415px;
    border-radius: 10px;
    opacity: 0.8;
  }

  .rules:hover {
    opacity: 1;
  }
  